# این پروژه به کتابخانه‌ی خاصی نیاز ندارد
# فقط از کتابخانه‌های داخلی پایتون استفاده شده است:
# - random (برای تولید تصادفی)
# - string (برای دسترسی به کاراکترهای استاندارد)
# - os (برای پاک کردن صفحه)
